<h3 mat-dialog-title>
    Create New Playlist
</h3>
<div mat-dialog-content class="dialog">
    <!-- <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Judul</mat-label>
        <input matInput [(ngModel)]="data.id">
    </mat-form-field> -->
    <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Playlist Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Description</mat-label>
        <input matInput [(ngModel)]="data.desc">
    </mat-form-field>
<div class="sub">
    <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Duration</mat-label>
        <input matInput [(ngModel)]="data.totalDuration">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Total Songs</mat-label>
        <input matInput [(ngModel)]="data.totalSongs">
    </mat-form-field>   
    <mat-form-field appearance="outline" style="width:100%;">
        <mat-label> Music</mat-label>
        <input matInput [(ngModel)]="data.music">
    </mat-form-field>
</div>
    
    <!-- in array -->   
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Batal</button>
    <button mat-flat-button (click)="saveData()">Simpan</button>
</div>